{% block form_errors %}
    {% if errors|length > 0 %}
        <ul class="mt-1.5 ml-1 space-y-1">
            {% for error in errors %}
                <li class="flex items-start text-xs font-semibold text-red-600 dark:text-red-400">
                    {{ ux_icon('si:error-line', { class: 'w-4 h-4 mr-1 flex-shrink-0' }) }}
                    <span>{{ error.message }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
