{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Add Category{% endblock %}

{% block main_content %}
    <div class="max-w-5xl mx-auto animate-fadeIn">
        {{ include('dashboard/category/_form.html.twig', {
            form: form,
            button_label: 'Create Category'
        }) }}
    </div>
{% endblock %}
