{% extends 'admin/dashboard.html.twig' %} {% block title %}New Order{% endblock
%} {% block main_content %}
<div class="form-wrapper">
    <div class="form-container">
        <div class="form-header">
            <h1>Create New Order</h1>
        </div>
        {{
            include("admin/order/_form.html.twig", {
                button_label: "Save",
                button_class: "save-btn"
            })
        }}
        <div class="form-action">
            <a href="{{ path('app_admin_order_index') }}">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}
