{% extends "base.html.twig" %}

{% block title %}Accessories{% endblock %}

{% block main_content %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8" x-data="{ currentSubCategoryName: '{{ currentSubCategory| e('html_attr') }}' }">
    {% block beradcrumbs %}
    {% endblock %}
    <div class="mx-auto flex flex-col lg:flex-row px-6 lg:px-12">
        <aside class="w-full lg:w-1/5 pr-8 mb-8 lg:mb-0">
            <h1 class="text-3xl font-normal tracking-tight mb-8">{{ category.name }}</h1>

            <div class="space-y-4">
                <h3 class="text-xs font-semibold tracking-wider text-mocha-200 mb-4">CATEGORY</h3>

                <div id="category-list" class="h-64 custom-scroll overflow-y-auto pr-2">
                    {% if subCategories|length > 0 %}
                        <ul class="flex flex-col">
                            {% for sub in subCategories %}
                                <a href="{{ path('app_sub_category_show', { 'slug': sub.slug }) }}"
                                class="text-sm font-semibold transition duration-300
                                {# CHECK IF ACTIVE #}
                                {% if app.request.get('slug') == sub.slug %}
                                    text-mocha underline
                                {% else %}
                                    text-mocha-300 hover:text-mocha
                                {% endif %}">
                                    {{ sub.name }}
                                </a>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </aside>

        <!-- Main Product Grid -->
        <main class="w-full lg:w-4/5">
            {% block product_grid %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}
