{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Edit QR Tag{% endblock %}

{% block main_content %}
    <div class="max-w-5xl mx-auto animate-fadeIn">
        {{ include('dashboard/qrtag/_form.html.twig', {
            form: form,
            button_label: 'Update QR Tag'
        }) }}
    </div>
{% endblock %}
