{% extends 'dashboard/dashboard.html.twig' %} {% block title %}Add QRTag{% endblock
%} {% block main_content %}
<div class="mx-1 min-h-screen bg-white p-8 rounded-xl shadow-md">
    <h1 class="text-2xl font-bold text-mocha mb-6">Add New QR</h1>

    {{ include('dashboard/qrtag/_form.html.twig', {
        form: form,
        button_label: 'Add QR',
        button_class: 'px-3 py-2 bg-success-color text-white rounded-xl'
    }) }}
</div>
{% endblock %}
