{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}New Admin{% endblock %}

{% block main_content %}
    <div class="max-w-5xl mx-auto animate-fadeIn">
        {{ include('dashboard/admin/_form.html.twig', {
            form: form,
            button_label: 'Create Administrative Profile'
        }) }}
    </div>
{% endblock %}
