<section class="bg-white py-12 lg:py-16 px-6 md:px-12 border-t border-gray-100 w-full">
    <div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-3 gap-10 lg:gap-12">
        <div class="flex flex-col sm:flex-row items-center sm:items-start text-center sm:text-left gap-4 sm:gap-5">
            <div class="text-brand">
                {{ ux_icon('lucide:truck', { class: 'h-8 w-8 lg:h-10 lg:w-10' }) }}
            </div>
            <div>
                <h3 class="font-bold text-brand text-md lg:text-lg mb-1 uppercase tracking-wider">Free Shipping</h3>
                <p class="text-xs lg:text-sm text-gray-500">Free shipping for orders above PHP 1500.</p>
            </div>
        </div>
        <div class="flex flex-col sm:flex-row items-center sm:items-start text-center sm:text-left gap-4 sm:gap-5">
            <div class="text-brand">
                {{ ux_icon('lucide:credit-card', { class: 'h-8 w-8 lg:h-10 lg:w-10' }) }}
            </div>
            <div>
                <h3 class="font-bold text-brand text-md lg:text-lg mb-1 uppercase tracking-wider">Flexible Payment</h3>
                <p class="text-xs lg:text-sm text-gray-500">Multiple secure payment options.</p>
            </div>
        </div>
        <div class="flex flex-col sm:flex-row items-center sm:items-start text-center sm:text-left gap-4 sm:gap-5">
            <div class="text-brand">
                {{ ux_icon('lucide:headset', { class: 'h-8 w-8 lg:h-10 lg:w-10' }) }}
            </div>
            <div>
                <h3 class="font-bold text-brand text-md lg:text-lg mb-1 uppercase tracking-wider">24x7 Support</h3>
                <p class="text-xs lg:text-sm text-gray-500">We support online all days.</p>
            </div>
        </div>
    </div>
</section>
