{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Edit SubCategory: {{ subCategory.name }}{% endblock %}

{% block main_content %}
    <div class="max-w-5xl mx-auto animate-fadeIn">
        {{ include('dashboard/sub_category/_form.html.twig', {
            form: form,
            button_label: 'Update SubCategory'
        }) }}
    </div>
{% endblock %}
