{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Add SubCategory{% endblock %}

{% block main_content %}
    <div class="max-w-4xl mx-auto animate-fadeIn">
        {{ include('dashboard/sub_category/_form.html.twig', {
            form: form,
            button_label: 'Create SubCategory'
        }) }}
    </div>
{% endblock %}
