{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Add Stock Record{% endblock %}

{% block main_content %}
    <div class="max-w-5xl mx-auto animate-fadeIn">
        {{ include('dashboard/stock/_form.html.twig', {
            form: form,
            button_label: 'Create Record'
        }) }}
    </div>
{% endblock %}
