{% extends 'admin/dashboard.html.twig' %} {% block title %}Rewards - ShopAdmin{%
endblock %} {% block page_title %}Rewards{% endblock %} {% block main_content %}
<div class="content-area">
    <div class="card">
        <div class="card-header">
            <h2>REWARDS</h2>
        </div>
        <div class="card-body">REWARDS COMING SOON!</div>
    </div>
</div>
{% endblock %}
