{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Add Product{% endblock %}

{% block main_content %}
    <div class="max-w-5xl mx-auto">
        {{ include('dashboard/product/_form.html.twig', {
            form: form,
            button_label: 'Create Product'
        }) }}
    </div>
{% endblock %}
