{% extends 'admin/dashboard.html.twig' %}

{% block title %}Edit Product: {{ product.name }} {% endblock %}

{% block main_content %}
<div class="mx-1 min-h-screen bg-white p-8 rounded-xl shadow-md">
    <h1 class="text-2xl font-bold text-mocha mb-6">Edit Product: {{ product.name }}</h1>

        {{ include('admin/product/_form.html.twig', {
            form: form,
            button_label: 'Update Product',
            button_class: 'cursor-pointer px-4 py-2 bg-success text-sm font-semibold text-white rounded-xl hover:bg-success-hover'
        }) }}

</div>
{% endblock %}
