{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Edit Customer Profile{% endblock %}

{% block main_content %}
    <div class="max-w-5xl mx-auto animate-fadeIn">
        {{ include('dashboard/customer/_form.html.twig', {
            form: form,
            button_label: 'Update Customer'
        }) }}
    </div>
{% endblock %}
