{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/components/modal.css') }}" />
{% endblock %} {% if app.flashes('success') is not empty %}
<div id="successModal" class="modal">
    <div class="modal-content">
        <span id="closeModal" class="close">&times;</span>
        <h2>Success!</h2>
        {% for message in app.flashes('success') %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}
