<div style="font-family: sans-serif; line-height: 1.6; color: #333;">
    <h1 style="color: #6b703d;">Welcome to Mifania!</h1>
    <p>Hello,</p>
    <p>Thank you for registering on our platform. We are excited to have you with us!</p>
    <p>You can now log in and start exploring.</p>
    <br>
    <p>Best regards,</p>
    <p><strong>The Mifania Team</strong></p>
</div>
